body > div.screen#join-game-screen {
    font-size: 20pt;
}

body > div.screen#join-game-screen input#game-code {
    width: 3.4em;
    border: 1px solid black;
    padding: 2px;
}

select#game-board-type {
    display: inline-block;
}

button#create-game-button {
	text-decoration: underline;
}