body {
    margin:      0;
    padding:     0;
    position:    absolute;
    top:         0;
    left:        0;
    right:       0;
    bottom:      0;
    font-family: Nunito, Arial, sans-serif;
}

button, input {
    outline:    none;
    border:     0;
    font:       inherit;
    background: none;
    padding:    0;
}

input {
    font-family: 'JetBrains Mono', 'Courier New', monospace;
}

input[type=number].no-spin{
    -moz-appearance: textfield;
}
input[type=number].no-spin::-webkit-inner-spin-button,
input[type=number].no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


body * {
    position: relative;
    box-sizing: border-box;
}

body > div.screen {
    display:         none;
    position:        absolute;
    top:             0;
    left:            0;
    right:           0;
    bottom:          0;
    align-items:     center;
    justify-content: center;
    flex-direction:  column;
}

body > div.screen.active {
    display: flex;
}

option {
    color: black !important;
}
